xarray
zarr
geopandas
numpy
netcdf4
rasterio
requests
dask
tqdm
matplotlib
cartopy
rasterstats
ipykernel
dask-geopandas
dask[distributed]
rtree
Affine
psutil
memory_profiler
snakeviz
Affine
scipy
rtree
